<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
    <style>
      @font-face { font-family: Yantramanav-Regular; src:
      url("https://carbooking.me/email/fonts/Yantramanav-Regular.ttf"); }
      @font-face { font-family: Yantramanav-Regular; src:
      url("fonts/Yantramanav-Regular.ttf"); } body { margin: 0;
      background-color: rgb(243, 243, 243); font-family: Yantramanav-Regular;
      size: 14px; } table { border-spacing: 0; } img { border: 0; } h5 { margin:
      0; font-size: 14px; font-weight: 700; text-transform: uppercase; } span, p
      { font-size: 12px; font-weight: normal; color: rgb(90, 90, 90); } a {
      text-decoration: none; color: rgb(49, 121, 180); } .wrapper { width:
      600px; table-layout: fixed; background-color: rgb(255, 255, 255); padding:
      30px; margin: 0 auto; } .table-style { border-collapse: collapse; width:
      100%; border-spacing: 0; background-color: transparent; } .bg-img {
      background-image: url("https://carbooking.me/email/Pozadina.jpg"); width:
      600px; background-size: 506px 254px; background-repeat: no-repeat;
      background-position: center; } .blue-line { color: rgb(49, 121, 180);
      border-bottom: 2px solid rgb(49, 121, 180); } .blue-text { color: rgb(49,
      121, 180); font-size: 12px; font-weight: bold; } .m-0 { margin: 0; } .mt35
      { margin-top: 35px; } .mt-mb7 { margin: 7px 0; } .mb7-mt14 { margin: 14px
      0 7px 0; } .mt30 { margin-top: 30px; } .mb30 { margin-bottom: 30px; } .mb7
      { margin-bottom: 7px; } .mt-25 { margin-top: 25px; } .mt16 { margin-top:
      16px; } .mb10 { margin-bottom: 10px; } .pr4 { padding-right: 4px; } .pr8 {
      padding-right: 8px; } .gray-line { border-bottom: 1px solid rgb(185, 181,
      181); } .gray-line-bold { border-bottom: 1.5px solid rgb(90, 90, 90); }
      .table-gray-border { margin-top: 25px; padding: 6px; border: 2px solid
      rgb(90, 90, 90); width: 100%; box-sizing: border-box; } .d-block {
      display: block; } .d-inline { display: inline; } .text-align-end {
      text-align: end; } .v-align-middle { vertical-align: middle; }
      .v-align-toptext { vertical-align: text-top; } .font-size12 { font-size:
      12px; } .bold { font-weight: bold; } .float { float: right; }
    </style>
  </head>
  <body>
    <div class='wrapper bg-img'>
      <table class='table-style'>
        <thead>
          <tr>
            <td colspan='5'>
              <img
                src='https://carbooking.me/email/logo.jpg'
                alt='logotip'
                width='112'
                height='54'
              />
            </td>

            <td class='text-align-end'>
              <p class='m-0 blue-text'>www.carbooking.me</p>
              <p class='m-0 blue-text'>office@carbooking.me</p>
              <p class='m-0 blue-text'>(+382) 68 55 89 43</p>
              <p class='m-0 blue-text'>(+382) 69 55 89 43</p>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr class='blue-line'>
            <td style='width: 120px'><h5>RESERVACIJA BR.</h5></td>
            <td class='v-align-middle'><span>{{reservationId}}</span></td>
            <td style='width: 50px; padding-left: 10px'><h5>Datum:</h5></td>
            <td class='v-align-middle'><span>{{currentDate}}</span></td>
            <td colspan='2' class='text-align-end' style='padding-bottom: 14px'>
              <p class='m-0 blue-text'>Marka Miljanova 50C</p>
              <p class='m-0 blue-text'>81000 Podgorica, Crna Gora</p>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan='5'>
              <p>
                Poštovani
                <strong>{{name}}</strong>,
                <br />
                Vaša rezervacija je uspješno proslijeđena. Ubrzo ćemo Vas
                kontaktirati.
              </p>
            </td>
          </tr>
        </tfoot>
      </table>

      <table class='table-style'>
        <thead>
          <tr class='blue-line'>
            <td colspan='6'>
              <h5>Moj nalog</h5>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr class='gray-line'>
            <td style='width: 45%'><p class='mb7-mt14'>Ime i prezime:</p></td>
            <td>
              <p class='mb7-mt14'><strong>{{name}}</strong></p>
            </td>
          </tr>

          <tr class='gray-line'>
            <td><p class='mt-mb7'>E-mail:</p></td>
            <td>
              <p class='mt-mb7'><strong>{{email}}</strong></p>
            </td>
          </tr>

          <tr class='gray-line'>
            <td><p class='mt-mb7'>Broj telefona:</p></td>
            <td>
              <p class='mt-mb7'><strong>{{phoneNumber}}</strong></p>
            </td>
          </tr>

          <tr class='gray-line'>
            <td><p class='mt-mb7'>Starost:</p></td>
            <td>
              <p class='mt-mb7'><strong>{{years}}</strong></p>
            </td>
          </tr>
          <tr class='gray-line'>
            <td><p class='mt-mb7'>Država:</p></td>
            <td>
              <p class='mt-mb7'><strong>{{state}}</strong></p>
            </td>
          </tr>
        </tbody>
      </table>

      <table class='table-style'>
        <thead>
          <tr class='blue-line'>
            <td colspan='6'><h5>DETALJI REZERVACIJE</h5></td>
          </tr>
        </thead>

        <tbody>
          <tr class='gray-line'>
            <td style='width: 45%'><p class='mb7-mt14'>Vozilo:</p></td>
            <td>
              <p class='mb7-mt14'><strong>{{vehicle}}</strong></p>
            </td>
          </tr>

          <tr class='gray-line'>
            <td><p class='mt-mb7'>Mjenjač:</p></td>
            <td>
              <p class='mt-mb7'><strong>{{automatic}}</strong></p>
            </td>
          </tr>

          <tr class='gray-line'>
            <td><p class='mt-mb7'>Gorivo:</p></td>
            <td>
              <p class='mt-mb7'><strong>{{fuel}}</strong></p>
            </td>
          </tr>

          <tr class='gray-line'>
            <td><p class='mt-mb7'>Datum i vrijeme preuzimanja:</p></td>
            <td>
              <p class='mt-mb7'><strong>{{pickupDate}}</strong></p>
            </td>
          </tr>

          <tr class='gray-line'>
            <td><p class='mt-mb7'>Datum i vrijeme vraćanja:</p></td>
            <td>
              <p class='mt-mb7'><strong>{{returnDate}}</strong></p>
            </td>
          </tr>

          <tr class='gray-line'>
            <td><p class='mt-mb7'>Mjesto preuzimanje:</p></td>
            <td>
              <p class='mt-mb7'><strong>{{pickupLocation}}</strong></p>
            </td>
          </tr>

          <tr class='gray-line'>
            <td><p class='mt-mb7'>Mjesto vraćanja:</p></td>
            <td>
              <p class='mt-mb7'><strong>{{returnLocation}}</strong></p>
            </td>
          </tr>
        </tbody>
      </table>

      <table class='mt-25 table-style'>
        <thead>
          <tr class='blue-line'>
            <td colspan='6'>
              <h5>DODACI</h5>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <h5 class='mt16'>OSIGURANJE:</h5>
            </td>
          </tr>

          <tr>
            <td colspan='5'>
              <p class='m-0 d-inline'>
                <strong>Kasko osiguranje sa učešćem u šteti (CDW/TP)</strong>
                --- Uključeno u cijenu {{currency}}0,00
                na dan
              </p>
              <img
                class='float'
                src='https://carbooking.me/email/strik.jpg'
                alt='strik'
              />
            </td>
          </tr>
          <tr>
            <td colspan='5'>
              <p class='m-0 d-inline'>
                <strong>Osiguranje putnika (PAI)</strong>
                --- Uključeno u cijenu {{currency}}0,00
                na dan
              </p>
              <img
                src='https://carbooking.me/email/strik.jpg'
                alt='strik'
                class='float'
              />
            </td>
          </tr>
          <tr>
            <td colspan='5'>
              <p class='m-0 d-inline'>
                <strong>Otkup odgovornosti za štetu na gumama, podvozju i
                  staklima (WUG)</strong>
                ---
                {{extras.wug.price}}
                na dan
              </p>
              {{#if extras.wug.selected}}
                <img
                  src='https://carbooking.me/email/checked.jpg'
                  alt='check'
                  class='float'
                />
              {{else}}
                <img
                  src='https://carbooking.me/email/unchecked.jpg'
                  alt='uncheck'
                  class='float'
                />
              {{/if}}
            </td>
          </tr>
          <tr>
            <td colspan='5'>
              <p class='m-0 d-inline'>
                <strong>Otkup odgovornosti prema učešću u šteti (CDW+)</strong>
                ---
                {{extras['cdw'].price}}
                na dan
                {{#if extras['cdw'].selected}}
                  <img
                    src='https://carbooking.me/email/checked.jpg'
                    alt='check'
                    class='float'
                  />
                {{else}}
                  <img
                    src='https://carbooking.me/email/unchecked.jpg'
                    alt='uncheck'
                    class='float'
                  />
                {{/if}}
              </p>
            </td>
          </tr>
        </tbody>

        <tfoot>
          <tr>
            <td>
              <h5 class='mt16'>DODACI:</h5>
            </td>
          </tr>
          <tr>
            <td width='49%'>
              <p class='m-0'>
                <strong>Dostava vozila</strong>
                GRATIS
                <img
                  src='https://carbooking.me/email/checked.jpg'
                  alt='check'
                  class='float'
                />
              </p>

              <p class='m-0'>
                <strong>Osvježenje dobrodošlice</strong>
                GRATIS
                {{#if extras.drink.selected}}
                  <img
                    src='https://carbooking.me/email/checked.jpg'
                    alt='check'
                    class='float'
                  />
                {{else}}
                  <img
                    src='https://carbooking.me/email/unchecked.jpg'
                    alt='uncheck'
                    class='float'
                  />
                {{/if}}
              </p>

              <p class='m-0'>
                <strong>Dječije sjedište</strong>
                GRATIS
                <strong class='float'>{{extras.childSeat.value}}</strong>
              </p>

              <p class='m-0'>
                <strong>Dodatni vozače</strong>
                GRATIS
                {{#if extras.additionalDriver.selected}}
                  <img
                    src='https://carbooking.me/email/checked.jpg'
                    alt='check'
                    class='float'
                  />
                {{else}}
                  <img
                    src='https://carbooking.me/email/unchecked.jpg'
                    alt='uncheck'
                    class='float'
                  />
                {{/if}}
              </p>

              <p class='m-0'>
                <strong>Zimska oprema</strong>GRATIS
                {{#if extras.winterEquipment.selected}}
                  <img
                    src='https://carbooking.me/email/checked.jpg'
                    alt='check'
                    class='float'
                  />
                {{else}}
                  <img
                    src='https://carbooking.me/email/unchecked.jpg'
                    alt='uncheck'
                    class='float'
                  />
                {{/if}}
              </p>

              <p class='m-0'>
                <strong>GPS navigacija</strong>
                GRATIS
                {{#if extras.gps.selected}}
                  <img
                    src='https://carbooking.me/email/checked.jpg'
                    alt='check'
                    class='float'
                  />
                {{else}}
                  <img
                    src='https://carbooking.me/email/unchecked.jpg'
                    alt='uncheck'
                    class='float'
                  />
                {{/if}}
              </p>

              <p class='m-0'>
                <strong>Krovni kofer</strong>
                GRATIS
                {{#if extras.roofSuitcase.selected}}
                  <img
                    src='https://carbooking.me/email/checked.jpg'
                    alt='check'
                    class='float'
                  />
                {{else}}
                  <img
                    src='https://carbooking.me/email/unchecked.jpg'
                    alt='uncheck'
                    class='float'
                  />
                {{/if}}
              </p>

              <p class='m-0'>
                <strong>Mifi 4g ruter - </strong>
                {{extras.router.price}}
                NA DAN MAX
                {{extras.router.maxPrice}}
                {{#if extras.router.selected}}
                  <img
                    src='https://carbooking.me/email/checked.jpg'
                    alt='check'
                    class='float'
                  />
                {{else}}
                  <img
                    src='https://carbooking.me/email/unchecked.jpg'
                    alt='uncheck'
                    class='float'
                  />
                {{/if}}
              </p>
            </td>
            <td width='2%'></td>
            <td width='49%' style='vertical-align: baseline'>
              <p class='m-0'>
                <strong>Zeleni karton - </strong>
                {{extras.greenCard.price}}
                JEDNOKRATNO
                {{#if extras.greenCard}}
                  <img
                    src='https://carbooking.me/email/checked.jpg'
                    alt='check'
                    class='float'
                  />
                {{else}}
                  <img
                    src='https://carbooking.me/email/unchecked.jpg'
                    alt='uncheck'
                    class='float'
                  />
                {{/if}}
              </p>

              <p class='m-0'>
                <strong>Kišobran</strong>
                GRATIS
                <strong class='float'>{{extras.umbrella.value}}</strong>
              </p>

              <p class='m-0'>
                <strong>Pumpa za loptu/dušek/gumu </strong>
                GRATIS
                {{#if extras.tireEquipment.selected}}
                  <img
                    src='https://carbooking.me/email/checked.jpg'
                    alt='check'
                    class='float'
                  />
                {{else}}
                  <img
                    src='https://carbooking.me/email/unchecked.jpg'
                    alt='uncheck'
                    class='float'
                  />
                {{/if}}
              </p>

              <p class='m-0'>
                <strong>Papirna mapa Crne Gore</strong>
                GRATIS
                {{#if extras.map.selected}}
                  <img
                    src='https://carbooking.me/email/checked.jpg'
                    alt='check'
                    class='float'
                  />
                {{else}}
                  <img
                    src='https://carbooking.me/email/unchecked.jpg'
                    alt='uncheck'
                    class='float'
                  />
                {{/if}}
              </p>

              <p class='m-0'>
                <strong>Punjac za android</strong>
                GRATIS
                <strong class='float'>{{extras.androidCharger.value}}</strong>
              </p>

              <p class='m-0'>
                <strong>Punjac za Iphone</strong>
                GRATIS
                <strong class='float'>{{extras.iphoneCharger.value}}</strong>
              </p>

              <p class='m-0'>
                <strong>Xiaomi Mi Električni trotinet - </strong>
                {{extras.scooter.price}}
                NA DAN, MAX
                {{extras.scooter.maxPrice}}
                {{#if extras.scooter.selected}}
                  <img
                    src='https://carbooking.me/email/checked.jpg'
                    alt='check'
                    class='float'
                  />
                {{else}}
                  <img
                    src='https://carbooking.me/email/unchecked.jpg'
                    alt='uncheck'
                    class='float'
                  />
                {{/if}}
              </p>
              <p class='m-0'>
                <strong>Nosač za bicikla - </strong>
                {{extras.bicycleHolder.price}}
                NA DAN, MAX
                {{extras.bicycleHolder.maxPrice}}
                {{#if extras.bicycleHolder.selected}}
                  <img
                    src='https://carbooking.me/email/checked.jpg'
                    alt='check'
                    class='float'
                  />
                {{else}}
                  <img
                    src='https://carbooking.me/email/unchecked.jpg'
                    alt='uncheck'
                    class='float'
                  />
                {{/if}}
              </p>
            </td>
          </tr>
        </tfoot>
      </table>

      <table class='mt-25 table-style'>
        <thead>
          <tr class='blue-line' style='display: block;'>
            <td>
              <h5>PORUKA</h5>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                {{message}}
              </p>
            </td>
          </tr>
        </tbody>
      </table>

       <table class='table-style'>
        <thead>
          <tr class='blue-line'>
            <td colspan='6'><h5 class='mt14'>DETALJI REZERVACIJE</h5></td>
          </tr>
        </thead>

        <tbody>
          <tr class='gray-line'>
            <td style='width: 45%'><p class='mb7-mt14'>Vozilo:</p></td>
            <td>
              <p class='mb7-mt14'><strong>{{vehicle}}</strong></p>
            </td>
          </tr>

          <tr class='gray-line'>
            <td><p class='mt-mb7'>Transmisija:</p></td>
            <td>
              <p class='mt-mb7'><strong>{{automatic}}</strong></p>
            </td>
          </tr>

          <tr class='gray-line'>
            <td><p class='mt-mb7'>Tip goriva:</p></td>
            <td>
              <p class='mt-mb7'><strong>{{fuel}}</strong></p>
            </td>
          </tr>

          <tr class='gray-line'>
            <td><p class='mt-mb7'>Datum i vrijeme preuzimanja:</p></td>
            <td>
              <p class='mt-mb7'><strong>{{pickupDate}}</strong></p>
            </td>
          </tr>

          <tr class='gray-line'>
            <td><p class='mt-mb7'>Datum i vrijeme vraćanja:</p></td>
            <td>
              <p class='mt-mb7'><strong>{{returnDate}}</strong></p>
            </td>
          </tr>

          <tr class='gray-line'>
            <td><p class='mt-mb7'>Mjesto preuzimanja:</p></td>
            <td>
              <p class='mt-mb7'><strong>{{pickupPlace}}</strong></p>
            </td>
          </tr>

          <tr class='gray-line'>
            <td><p class='mt-mb7'>Mjesto vraćanja:</p></td>
            <td>
              <p class='mt-mb7'><strong>{{returnPlace}}</strong></p>
            </td>
          </tr>
        </tbody>
      </table>

      <div class='table-gray-border'>
        <table class='table-style'>
          <thead>
            <tr>
              <td class='blue-line' colspan='6'>
                <h5 class='mt14'>CIJENA REZERVACIJE</h5>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr class='gray-line'>
              <td colspan='5'>
                <p class='mb7-mt14'>Iznajmljivanje vozila:</p>
              </td>
              <td>
                <p class='text-align-end mb7-mt14'><strong
                  >{{rentalAmount}}</strong></p>
              </td>
            </tr>

            <tr class='gray-line'>
              <td colspan='5'>
                <p class='mt-mb7'>Dodaci:</p>
              </td>
              <td>
                <p class='text-align-end mt-mb7'><strong
                  >{{extrasAmount}}</strong></p>
              </td>
            </tr>

            <tr class='gray-line'>
              <td colspan='5'>
                <p class='mt30 mb7'>Ukupno:</p>
              </td>
              <td>
                <p class='text-align-end mt30 mb7'><strong
                  >{{totalAmount}}</strong></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <table class='table-style'>
        <tbody>
          <tr>
            <td colspan='5'>
              <p class='font-size12 mb30'>
                <strong>Napomena:</strong>Ovo je sistemski e-mail, nemojte
                odgovarati na njega.
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <table style='margin: 0 auto'>
        <tbody>
          <tr>
            <td style='text-align: end'>
              <img
                src='https://carbooking.me/email/instagram-icon.jpg'
                alt='Instagram Icon'
                width='25'
                height='25'
              />
            </td>
            <td>
              <img
                src='https://carbooking.me/email/facebook-icon.jpg'
                alt='Facebook Icon'
                width='25'
                height='25'
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>